@page "/test/createtest"
@inject HttpClient Http
@inject NavigationManager Navigation
@attribute [Authorize(Roles = "Administrators, Teachers")]

<h5>Create a test</h5>
<br />

<EditForm Model="Exam" OnSubmit="buttonSubmit" >

    <div class="form-check group">
        <label class="control-label">Number of questions:</label>
        <input type="number" @bind-value="questionNum" class="form-control"/>
    </div>

    <p></p>
    <button type="submit" class="btn btn-primary">
        <i class="fas fa-save"></i> Create question fields
    </button>
</EditForm>

@code {
    private Exam Exam { get; set; } = new Exam();
    private int questionNum;

    private async void buttonSubmit()
    {
        try
        {
            Navigation.NavigateTo($"/test/inputquestion/{questionNum}");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception e)
        {

        }

    }

}
