@page "/test/"
@inject HttpClient Http
@inject NavigationManager Navigation
@attribute [Authorize(Roles = "Administrators")]

<h3>TestHome</h3>

@*make buttons to access test related stuff*@



@code {

}
