<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">FinalYearProject</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView Roles="Teachers">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/test/viewtest">
                    <span class="oi oi-plus" aria-hidden="true"></span> View Created Tests
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles=",Students">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/student/entercode">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Enter Code
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Students">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/student/viewsubmission">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> View Submissions
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Teachers">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/student/viewsubmissionteacher">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> View Tests To Mark
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Administrators">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/viewsubmission">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> View Submissions
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Administrators">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/viewtest">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> View Tests
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
}
}
